:root {
  /* Colors */
  --nav-footer-bg: 183, 33%, 21%;
  --dark-teal: 183, 33%, 21%;
  --black: 0, 0%, 0%;
  --white: 0, 0%, 100%;
  --light-gray: 0, 0%, 90%;
  --dark-gray: 0, 0%, 50%;
  --inverse: 200, 4%, 17%;
  --clr-txt: 183, 5%, 50%;

  /* Font-family */
  --ff-sans: "Roboto", Arial, sans-serif;
  --ff-serif: "Roboto Slab", "Times New Roman", serif;
  /* Font-sizes */
  --fs-lg: clamp(2rem, 8vw, 4rem);
  --fs-md: clamp(1.5rem, 7vw, 2.5rem);
  --fs-nrml: clamp(0.975rem, 5vw, 1.25rem);
  --fs-txt: clamp(0.875rem, 3vw, 1.125rem);
  --fs-sml: clamp(0.75rem, 1vw, 0.975rem);
}
@media (min-width: 769px) {
  :root {
    --fs-lg: clamp(3rem, 8vw, 5rem);
    --fs-nrml: clamp(1rem, 2vw, 1.25rem);
    --fs-md: clamp(1.5rem, 3.5vw, 2.5rem);
    --fs-txt: clamp(0.95rem, 1.5vw, 1.25rem);
    --fs-sml: clamp(0.75rem, 1vw, 0.975rem);
  }
}

/* ----------------------------------------------------------- Resets */
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: url(../img/bg-texture.png), hsl(var(--inverse));
  color: hsl(var(--light-gray));
}
*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  font-weight: normal;
  font-family: var(--ff-serif);
}
input,
button,
textarea {
  font: inherit;
  font-family: var(--ff-sans);
}
p,
blockquote,
article {
  color: hsl(var(--clr-txt));
  font-family: var(--ff-sans);
  line-height: 1.4;
  font-size: var(--fs-txt);
}
a {
  color: inherit;
  text-decoration: none;
  font-family: var(--ff-sans);
  font-size: var(--fs-nrml);
}
a,
button {
  cursor: pointer;
}
img,
picture {
  max-width: 100%;
  display: block;
}

svg,
path,
g {
  fill: hsl(var(--light-gray));
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------------------------------------- Helpers */
.cont {
  margin-inline: auto;
  width: 92%;
  max-width: 550px;
}
.hidden {
  display: none;
}
@media (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
}
@media (min-width: 769px) {
  .cont {
    max-width: 1350px;
  }
  .mobile-only {
    display: none !important;
  }
}
