<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "head_data.html" %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css')}}"
    />
    <title>Leb's Online Shop - Home Page</title>
  </head>
  <body>
    <header>{% include "nav_bar.html" %}</header>
    <main class="main cont">
      <div class="specials-cont">
        <div class="special apples">
          <h2 class="special__title">An Apple A Day..</h2>
          <div class="special__pic-cont">
            <picture class="special__pic">
              <source
                srcset="../static/img/special/special_appples.jpg"
                media="(min-width: 769px)"
                class="special__img"
              />
              <img
                src="../static/img/special/mobile/special_appples.jpg"
                alt="washing apples"
                class="special__img"
              />
            </picture>
          </div>
          <article class="special__article">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi
            quaerat nulla sapiente voluptas nam est nesciunt, magni
            consequuntur, cum deserunt corrupti fugiat aspernatur facilis
            voluptate ipsum adipisci pariatur accusamus quae aut tempora enim ea
            ut at! Inventore voluptates facere dignissimos rem! Repellendus
            dolor explicabo sapiente soluta, in voluptates optio magni sequi
            eligendi possimus nam numquam commodi eaque dicta vel consectetur!
            Dolorum quam magni ab quae voluptates corporis. Ratione
            necessitatibus deserunt doloribus accusantium iste officia dolor
            iusto maiores culpa magni sed suscipit explicabo quos expedita
            placeat saepe possimus repellat natus eum nisi eveniet veniam
            molestias, est omnis! Harum eaque non voluptas eum, praesentium
            adipisci doloremque deserunt nostrum tenetur expedita exercitationem
            maxime. Inventore, quaerat! Molestias, dolore sint? Iste, dolorum
            nostrum. Quos sequi ratione incidunt, consectetur vero non.
            Perspiciatis consequuntur animi blanditiis! Optio qui perferendis
            rem placeat voluptatum eligendi facilis eveniet, ipsum repudiandae
            quibusdam deserunt dolorum voluptatibus esse commodi numquam,
            accusamus cumque architecto ab itaque! Dicta dignissimos corporis
            ipsam repellendus expedita fugit nam sit eaque vitae consequuntur,
            nisi corrupti laborum explicabo? Soluta, reiciendis hic facere ipsam
            sunt sed quasi ipsa? Molestiae modi quas iure praesentium rerum
            aperiam expedita cupiditate odio, optio soluta ducimus. Optio
            voluptatibus numquam eligendi voluptas velit veritatis architecto
            accusantium? Cum illo beatae fugiat excepturi quia deleniti suscipit
            nihil iure libero, aliquid fugit laborum repellendus, est, in
            inventore dolorem dignissimos mollitia consequatur modi eaque!
            Eligendi rem dicta voluptas optio nihil eos esse magnam, laboriosam
            quae. Nihil quaerat sequi officia? Minus possimus perspiciatis
            obcaecati eius voluptates dolores illo aut! Nisi aut voluptatibus
            sunt expedita at sit distinctio rem sapiente iusto perferendis!
            Totam consectetur commodi fuga ducimus vitae, nesciunt placeat
            quibusdam enim sint saepe minus cupiditate cum non porro ea quisquam
            ad? Natus hic labore quas, dolor numquam, facere vero ea aut, iste
            sunt consectetur doloribus laboriosam sapiente! Id quae officiis
            voluptate veritatis?
          </article>
        </div>
        <div class="special breakfast">
          <h2 class="special__title">Breakfast Parfait</h2>
          <div class="special__pic-cont">
            <picture class="special__pic">
              <source
                srcset="../static/img/special/special_fruit_breakfast.jpg"
                media="(min-width: 769px)"
                class="special__img"
              />
              <img
                src="../static/img/special/mobile/special_fruit_breakfast.jpg"
                alt="washing apples"
                class="special__img"
              />
            </picture>
          </div>
          <article class="special__article">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi
            quaerat nulla sapiente voluptas nam est nesciunt, magni
            consequuntur, cum deserunt corrupti fugiat aspernatur facilis
            voluptate ipsum adipisci pariatur accusamus quae aut tempora enim ea
            ut at! Inventore voluptates facere dignissimos rem! Repellendus
            dolor explicabo sapiente soluta, in voluptates optio magni sequi
            eligendi possimus nam numquam commodi eaque dicta vel consectetur!
            Dolorum quam magni ab quae voluptates corporis. Ratione
            necessitatibus deserunt doloribus accusantium iste officia dolor
            iusto maiores culpa magni sed suscipit explicabo quos expedita
            placeat saepe possimus repellat natus eum nisi eveniet veniam
            molestias, est omnis! Harum eaque non voluptas eum, praesentium
            adipisci doloremque deserunt nostrum tenetur expedita exercitationem
            maxime. Inventore, quaerat! Molestias, dolore sint? Iste, dolorum
            nostrum. Quos sequi ratione incidunt, consectetur vero non.
            Perspiciatis consequuntur animi blanditiis! Optio qui perferendis
            rem placeat voluptatum eligendi facilis eveniet, ipsum repudiandae
            quibusdam deserunt dolorum voluptatibus esse commodi numquam,
            accusamus cumque architecto ab itaque! Dicta dignissimos corporis
            ipsam repellendus expedita fugit nam sit eaque vitae consequuntur,
            nisi corrupti laborum explicabo? Soluta, reiciendis hic facere ipsam
            sunt sed quasi ipsa? Molestiae modi quas iure praesentium rerum
            aperiam expedita cupiditate odio, optio soluta ducimus. Optio
            voluptatibus numquam eligendi voluptas velit veritatis architecto
            accusantium? Cum illo beatae fugiat excepturi quia deleniti suscipit
            nihil iure libero, aliquid fugit laborum repellendus, est, in
            inventore dolorem dignissimos mollitia consequatur modi eaque!
            Eligendi rem dicta voluptas optio nihil eos esse magnam, laboriosam
            quae. Nihil quaerat sequi officia? Minus possimus perspiciatis
            obcaecati eius voluptates dolores illo aut! Nisi aut voluptatibus
            sunt expedita at sit distinctio rem sapiente iusto perferendis!
            Totam consectetur commodi fuga ducimus vitae, nesciunt placeat
            quibusdam enim sint saepe minus cupiditate cum non porro ea quisquam
            ad? Natus hic labore quas, dolor numquam, facere vero ea aut, iste
            sunt consectetur doloribus laboriosam sapiente! Id quae officiis
            voluptate veritatis?
          </article>
        </div>
      </div>
      <div class="about">
        <h2 class="about__title">About Us</h2>
        <div class="about__flex">
          <img
            src="../static/img/leb_text_logo.svg"
            alt="lebshop's logo"
            class="about__img"
          />
          <p class="about_txt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint
            dolorem reiciendis. Aliquid laborum dolor debitis modi praesentium
            quas non. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Odit sint dolorem reiciendis. Aliquid laborum dolor debitis modi
            praesentium quas non.
            <br />
            <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
            numquam nam, esse similique vero ab voluptatum eaque illo culpa
            aliquam? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Odit sint dolorem reiciendis. Aliquid laborum dolor debitis modi
            praesentium quas non.
          </p>
        </div>
      </div>
    </main>
    {% include "footer.html" %}
  </body>
</html>
