<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "head_data.html" %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/shop.css')}}"
    />
    <title>lebshop - Shop</title>
  </head>
  <body>
    <header class="header">
      {% include "nav_bar.html" %} {% include "modal_msgs.html" %}
    </header>
    <main class="main cont">
      <div class="shop">
        <h1 class="shop__title">Fruit Basket</h1>
        <div class="shop__search-cont">
          <p class="shop_results-count">
            Showing Total of {{ fruits_data | length }} Fruits
          </p>
          <form
            action="{{ url_for('leb_shop_search')}}"
            method="get"
            enctype="multipart/form-data"
            id="headerSearchForm"
          >
            <div class="shop__search-controls">
              {% if keyword.split(': ')[0] == "q" %}
              <input
                type="text"
                name="q"
                class="search-input"
                placeholder="app | apples | apples - red"
                value="{{ keyword.split(': ')[1] }}"
                autocomplete="off"
              />
              {% else %}
              <input
                type="text"
                name="q"
                class="search-input"
                placeholder="app | apples | apples - red"
                autocomplete="off"
              />
              {% endif %}
              <button type="submit" class="search-submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
        {% if not fruits_data: %}
        <h1 class="no-results-disc">
          No results for
          <span class="no-results-disc__keyword">
            '{{ keyword.split(":")[1] }}'
          </span>
        </h1>
        {% else %}
        <div class="shop__fruit-cards-cont">
          {% for fruit in fruits_data: %}

          <div class="shop__fruit-card">
            {% if not fruit.in_stock: %}
            <div class="fruit-card__img-cont">
              <img
                src="{{ url_for('static', filename='img/market/' + fruit.image_path) }}"
                alt="{{ fruit.name }}"
                loading="lazy"
                class="fruit-card__img"
              />
              <div class="fruit-card__img-overlay">
                <span class="overlay-text">OUT OF STOCK</span>
              </div>
            </div>
            <p class="fruit-name no-stock">{{ fruit.name }}</p>
            {% else %}
            <a href="{{ url_for('product_view', product_id=fruit.id)}}">
              <div class="fruit-card__img-cont">
                <picture class="fruit-card__img">
                  <source
                    srcset="{{ url_for('static', filename='img/market/' + fruit.image_path) }}"
                    media="(min-width: 769px)"
                  />
                  <img
                    src="{{ url_for('static', filename='img/market/mobile/' + fruit.image_path) }}"
                    alt="{{ fruit.name }}"
                    class="fruit-card__img"
                    loading="lazy"
                  />
                </picture>
                <div class="fruit-card__img-overlay">
                  <span class="overlay-text">SHOP NOW</span>
                </div>
              </div>
              <p class="fruit-name">{{ fruit.name }}</p>
            </a>
            {% endif %}
          </div>
          {% endfor %} {% endif %}
        </div>
      </div>
    </main>
    {% include "footer.html" %}
  </body>
  <script>
    let sBoxCont = document.getElementsByClassName("input-search-icon-cont")[0];
    function expandBox() {
      sBoxCont.style.maxWidth = "52vw";
    }
    function shrinkBox() {
      sBoxCont.style.maxWidth = "17vw";
    }
  </script>
</html>
